{%extends "base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<h3>Welcome!</h3>
<p> If you do not have a profile, click "Sign Up" on the navigation bar. If you do have a profile,
    log in to see your results. </p>
<p> The purpose of this website is to keep track of the amounts of select vitamins, minerals, and supplements that you
    are consuming on a daily basis. In order to add information, click on "Add Supplement" on the navigation bar and enter your 
    information. You can find supplement information on the 'Supplement Facts' label located on the side of your multivitamin and supplement 
    containers. Your results will be displayed in a table under "Results". </p>
<p> There is a new feature available! Click on "New Feature" on the navigation bar. Select your age range and view the
    recommended intakes of all of the available supplements. 
</p>
{% endblock %}