
{%extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<form class="form" action="/sign-up" method="POST">
  <br />
    <h3 align="center">Sign Up Form</h3><br />
    <div class="form-control">
      <label for="user_name">Enter User Name:</label>
      <input type="text" name = "user_name" class="form-control" id="user_name" aria-describedby="nameHelp" placeholder="User Name">
    </div>
    <div class="form-control">
      <label for="password">Enter Password:</label>
      <input type="password" name= "password" class="form-control" id="password" placeholder="Enter Password">
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
</form>
{% endblock %}